In [14]:
import numpy as np
import pandas as pd
import seaborn as sns

planets = sns.load_dataset('planets')
planets.shape
planets.head

# Aggregations in pandas
# Pandas aggregates for series
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

print("Aggregations on pandas series:")
print("Sum of series: ", ser.sum())
print("Mean of series: ", ser.mean())

# Pandas aggregates for data frame
df = pd.DataFrame({'A': rng.rand(5),
                   'B': rng.rand(5)})
print("Dataframe:")
print(df)

print("\nAggregations on pandas dataframe:")
print("Mean of dataframe column-wise: ")
print(df.mean())
print("Mean of dataframe row-wise:")
print(df.mean(axis=1))

Aggregations on pandas series:
Sum of series:  2.811925491708157
Mean of series:  0.5623850983416314
Dataframe:
          A         B
0  0.155995  0.020584
1  0.058084  0.969910
2  0.866176  0.832443
3  0.601115  0.212339
4  0.708073  0.181825

Aggregations on pandas dataframe:
Mean of dataframe column-wise:
A    0.477888
B    0.443420
dtype: float64
Mean of dataframe row-wise:
0    0.088290
1    0.513997
2    0.849309
3    0.406727
4    0.444949
dtype: float64

In [16]:
# Describe planet data dropping missing values
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [ ]:
# Group by aggregation